button {
  padding: 10px 0px;
  width: 100px;
  border: none;
  box-shadow: 0px 0px 3px 2px #646464;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 1px 1px 5px 3px #7c7c7c;
}

.App {
  text-align: center;
  border: 1px solid #fcfcfc;
  background: url(https://media.4-paws.org/8/e/4/3/8e43d7de45a251738c5c8126e0fc24aa121a1cf9/VIER%20PFOTEN_2014-08-08_005-1918x1328-1918x1328.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  background: rgb(193, 193, 248);
}

.decrem {
  background: rgb(245, 165, 165);
}

.reset {
  background: rgb(101, 253, 101);
  margin: 0 auto;
  width: 100%;
}

.counter {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 700;
  color: #333;
  padding: 20px;
}

.counter-bord {
  padding: 10px;
  margin: 10px auto;
  width: 100px;
  border-radius: 10px;
  background: rgba(220, 220, 230, 0.8);
  box-shadow: 0px 0px 2px 3px #4d4d4d;
}

.counter-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.container {
  width: 270px;
  height: 205px;
  margin: 0 auto;
  background: rgba(10, 10, 10, 0.2);
  padding: 10px;
  border-radius: 10px;
}
